.product__img {
  position: absolute;
  top: calc(65% / (515 / 100));
  right: calc(155% / (1440 / 100));
  max-width: 533px;
  width: 48%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .product__img {
    top: calc(65% / (416 / 100));
    right: calc(20% / (1440 / 100));
  }
}
@media screen and (max-width: 320px) {
  .product__img {
    display: none;
  }
}
