.footer__social {
  max-width: 224px;
  width: 100%;
}
.footer__social:nth-of-type(1) {
  margin-right: calc(218% / (1440 / 100));
}
.footer__social:nth-of-type(2) {
  margin-right: calc(218% / (1440 / 100));
}
@media screen and (max-width: 1000px) {
  .footer__social:nth-of-type(1) {
    margin-right: calc(118% / (1000 / 100));
  }
  .footer__social:nth-of-type(2) {
    margin-right: calc(118% / (1000 / 100));
  }
}

@media screen and (max-width: 768px) {
  .footer__social:nth-of-type(1) {
    margin-right: calc(50% / (768 / 100));
  }
  .footer__social:nth-of-type(2) {
    margin-right: calc(50% / (768 / 100));
  }
}
@media screen and (max-width: 440px) {
  .footer__social:nth-of-type(1) {
    margin-right: 0;
    order: 2;
  }
  .footer__social:nth-of-type(2) {
    margin-right: 0;
    order: 1;
  }
  .footer__social:nth-of-type(3) {
    order: 3;
  }
  .footer__social {
    margin-bottom: 10px;
  }
}
