.product__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: calc(12px + 12 * (100vw / 1440));
  line-height: 116%;

  color: #000000;
  margin-top: 0;
  margin-bottom: 5px;
}
@media screen and (max-width: 320px) {
  .product__subtitle {
    font-size: calc(10px + 10 * (100vw / 320));
    text-align: center;
  }
}
