.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: calc(53% / (1440 / 100));
  margin-bottom: calc(53% / (1440 / 100));
}
