.product__info-question {
  font-style: normal;
  font-weight: 300;
  font-size: calc(12px + 6 (100vw / 1440));
  line-height: 21px;
  text-align: center;

  color: #737373;
  margin-right: 25px;
  text-decoration: none;
}
.product__info-question:last-child {
  margin-right: 0;
}
