.product__bg {
  position: absolute;
  top: calc(141% / (515 / 100));
  right: calc(67% / (1440 / 100));
  max-width: 745px;
  width: 68.4%;
}
@media screen and (max-width: 768px) {
  .product__bg {
    right: calc(-13% / (1440 / 100));
  }
}
